.tree {
  margin-top: 1em;
}
.m-node.placeholder {
  border: 1px dashed #ccc;
}
.m-node .inner {
  color: #333;
  font-size: 16px;
  font-weight: 100;
  font-family: 'Helvetica', sans-serif;
  padding: 2px;
}

.m-node:first-of-type .children:first-child {
  /* fix this, the padding doesn't apply when dragged and dropped */
  /* padding-left: 0px!important; */
}

.m-node .node {
  display: inline-block;
  /* width: 100%; */
  /* padding: 4px 5px; */
}
.m-node .node.is-active {
  /* background-color: #31363F; */
  background-color: #FAFAFA;
}

h1 {
  font-size: 36px;
  padding-top: 30px;
  font-weight: 100;
  margin-bottom: 0px;
  /* font-family: 'Helvetica', sans-serif; */
}

/* .bullet {
  background-image: url('/bullet.svg');
  width: 1em;
  height: 1em;
  z-index: 9;
  display: inline-block;
} */

/* .bullet:hover {
  background-color: #aaa;
  border-radius: 12px;
} */

.node {
  /* width: 90%; */
  padding-left: 5px;
}

.note {
  color: #666;
  font-size: 12px;
  padding-left: 45px;
}

.note:empty {
  display: none;
}

[contenteditable] {
  outline: 0px solid transparent;
}

/* .children {
  padding-left: 24px!important;
} */
