.tree {
  margin-top: 1em;
}
.m-node.placeholder {
  border: 1px dashed #ccc;
}
.m-node .inner {
  color: #333;
  font-size: 16px;
  font-weight: 100;
  font-family: 'Helvetica', sans-serif;
  padding: 2px;
}


.m-node ~ .children {
  padding-left: 60px!important;
}

.m-node .node {
  display: inline-block;
}

.m-node .node.is-active {
  background-color: red
}

h1 {
  font-size: 36px;
  padding-top: 30px;
  font-weight: 100;
  margin-bottom: 0px;
}

.node {
  /* width: 90%; */
  padding-left: 5px;
}

.note {
  color: #666;
  font-size: 12px;
  padding-left: 20px;
}

.note:empty {
  display: none;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.m-tree > .m-node > .children {
  padding-left: 0px!important;
}

.inner:hover .collapse {
  display: inline;
  /* position: absolute; */
  left: -25px;
}

.js {
  display: none;
  position: absolute;
  right: 0px;
  color: #333;
  box-sizing: border-box;
  max-width: 300px;
}

.node:focus + .js {
  display: inline-block;
}

.nav-icon {
  font-size: 0.8em;
  float: right;
  margin-top: 5px;

}

.nav-icon:hover .icons {
  display: inline;
  opacity: 1;
}

.nav-icon .icons {
  opacity: 0;
  padding-left: 1em;
  color: #666;
}


.nav-icon .icons:hover {
  color: red;
  opacity: 1;
}

.ace_text.ace_text-layer {
  font-family: 'Helvetica', sans-serif;
}

/* body > *:not(#loading) {
  filter: blur(3px);
} */